.button {
  display: inline-block;
  padding: 15px 40px;
  font-size: 16px;
  color: $c-bg-btn-border;
  background: $c-bg-btn;
  border: 1px solid $c-bg-btn-border;
  text-align: center;
  @include transition(background 0.2s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background: $c-bg-btn-hover;
    color: $c-bg-btn;
    text-decoration: none;
  }

}
