.icon {
  display: block;
  @include size(20px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;

  &__login {
    background-image: url("#{$img-path-icons}i-user.svg");
  }

  &__search {
    position: relative;
    @include size(50px);
    overflow: hidden;
    text-indent: -999px;
    cursor: pointer;

    &:after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      @include size(20px);
      background-image: url("#{$img-path-icons}i-search.svg");
    }
  }
}

.icon-info {
  @extend .icon;
  @include size(25px);
  border: 1px solid $c-black;
  border-radius: 50%;
  margin-right: $indent-10;
  background-size: 80%;

  &__one {
    background-image: url("#{$img-path-icons}i-1.svg");
  }

  &__check {
    background-image: url("#{$img-path-icons}i-2.svg");
  }

  &__limit {
    background-image: url("#{$img-path-icons}i-3.svg");
  }
}
