* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

.block {
  margin: $indent-20 0;
}

.indent-tb-base {
  margin-bottom: $indent-10;
}

.centering {
  text-align: center;
}
