
// Transitions
@mixin transition($transitions...) {
  $unfoldedTransitions: ();
  @each $transition in $transitions {
    $unfoldedTransitions: append($unfoldedTransitions, ($transition), comma);
  }

  -webkit-transition: $unfoldedTransitions;
  transition: $unfoldedTransitions;
}

// size to one line
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex-center() {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

// Font Size calculate
@function calculate-rem($size) {
  $rem-size: $size / 16px;
  @return #{$rem-size}rem;
}

@mixin font-size($size) {
  font-size: calculate-rem($size);
}

.my-font-size {
  font-size: calculate-rem(30px);
}
